# Default values for the database
POSTGRES_USER=booru
POSTGRES_PASSWORD=booru

# These are the ports that will be openned on the host.
FRONTEND_PORT=8080
BACKEND_PORT=6666

# Replace these with your own user UUID and GUID, these prevents issues with bind mounts 
# and hot-reloading changes made to the code 
PGID=1000
PUID=1000

# Bind mount location for release deployment
MOUNT_DATA=./data
MOUNT_SQL=./data-db

# Waitress Threads
THREADS_WAITRESS=4